
.banner-container {
    width: 100%;
    height: 600px;
    padding: 24px;
    display: flex;
    .banner-inner {
      max-width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .banner-title{
        h2 {
          font-weight: normal;
          padding: 0px 24px;
        }
      }
      .banner-items-container {
        display: flex;
        .banner-item {
          h1 {
            padding: 0px 24px;
            font-size: 5rem;
            margin: 0;
            color: $black;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            cursor: pointer;
            z-index: 10;
            &:hover {
              mix-blend-mode: exclusion;
              -webkit-text-fill-color: white;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }